@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="t">О нас</h1>

<h2>Основные сведения:</h2>
<p>Полное наименование: Центр Занятости "Даже Утка сможет найти работу"</p>
<p>Сокращенное наименование: ЦЗ "Утка"</p>
<p>Основано 1 августа 1947 года</p>

<h2>Картина основания нашего Центра Занятости:</h2>
<div class="co">
    <div>
        <p class="t">Говард Утка Старк закладывает фундамент:</p>
        <img class="ab" src="/img/site/IronDuck2.jpg">
    </div>
</div>
<h2 class="t">Услуги предоставляемые нашей организацией:</h2>

<div class="about">
    <div>
        <img class="about" src="/img/site/DuckWork1.jpg">
        <p>Консультации по трудоустройству</p>
    </div>
    <div>
        <img class="about" src="/img/site/DuckWork2.jpg">
        <p>Помощь в составлении резюме</p>
    </div>
    <div>
        <img class="about" src="/img/site/DuckWork3.jpg">
        <p>Проведение тренингов по собеседованию</p>
    </div>
    <div>
        <img class="about" src="/img/site/DuckWork4.jpg">
        <p>Предоставление информации о вакансиях</p>
    </div>
</div>

<h2>Новости и события</h2>
<p>Здесь мы будем публиковать последние новости и предстоящие события.</p>

