@{
    ViewData["Title"] = "Контакты";
}

<h1 class="t">Наши Контакты:</h1>

<div class="contact">
    <div>
        <h2 class="t">Директор</h2>
        <img class="photo" src="/img/site/Director.jpg">
        <p>Фамилия: Иванов</p>
        <p>Имя: Иван</p>
        <p>Телефон: +7 900 123 4567</p>
        <p>Электронная почта: ivanov@company.com</p>
    </div>

    <div>
        <h2 class="t">Заместитель Директора</h2>
        <img class="photo" src="/img/site/Zam.jpg">
        <p>Фамилия: Петров</p>
        <p>Имя: Петр</p>
        <p>Телефон: +7 900 234 5678</p>
        <p>Электронная почта: petrov@company.com</p>
    </div>

    <div>
        <h2 class="t">Главный Бухгалтер</h2>
        <img class="photo" src="/img/site/Buh.jpg">
        <p>Фамилия: Сидорова</p>
        <p>Имя: Александра</p>
        <p>Телефон: +7 900 345 6789</p>
        <p>Электронная почта: sidorova@company.com</p>
    </div>

    <div>
        <h2 class="t">Специальст Вакансий</h2>
        <img class="photo" src="/img/site/Vaka.jpg">
        <p>Фамилия: Михайлов</p>
        <p>Имя: Михаил</p>
        <p>Телефон: +7 900 456 7890</p>
        <p>Электронная почта: mikhailov@company.com</p>
    </div>
    <div>
        <h2 class="t">Мэнеджер</h2>
        <img class="photo" src="/img/site/Menejer.jpg">
        <p>Фамилия: Алексеев</p>
        <p>Имя: Алексей</p>
        <p>Телефон: +7 900 567 8901</p>
        <p>Электронная почта: alexeev@company.com</p>
    </div>
    <div>
        <h2 class="t">Глава отдела Маркетинга</h2>
        <img class="photo" src="/img/site/Market.jpg">
        <p>Фамилия: Федоров</p>
        <p>Имя: Федор</p>
        <p>Телефон: +7 900 678 9012</p>
        <p>Электронная почта: fedorov@company.com</p>
    </div>
</div>


